body {
    background-color: #000;
}

#bikeSvg {
    margin: 0 auto;
    display:none;
    height: 100vh;
}


.banner-text {
    width: 65%;;
    left: 22%;
    top: 5%;
    position: absolute;

}

h1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "lato",sans-serif;
    color: #d5d5d5;
}
@media (max-width:1300px) {
    h1 {
        font-size: 12px;
        width: 45%;
    }
}

h2 {
    margin: 0;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 100px;
    padding-bottom: 0;
    font-family: "lato",sans-serif;
    color: #1597af;
}
@media (max-width:1300px) {
    h2 {
        font-size: 52px;
    }
}

p {
    color: #474747;
    line-height: 1.6;
    font-size: 24px;
    margin-top: 15px;
    width: 55%;
}
@media (max-width:1300px) {
    p {
        font-size: 18px;
        width: 42%;
    }
}

.fade-in {
    display: none;
}